<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h3>Willkommen bei den Hygiene-Checkern, Ihrem Desinfektoren-Team zur gemeinsamen Bekämpfung von C19.</h3>
        <h4>Wir helfen Ihnen in ihrer schwersten Zeit weiter.</h4>
        <h4>Gemeinsam bieten wir Covid19 die Stirn!</h4>
      </header>
      <ul class="actions">
        <li><a href="beratung.html" class="button big">Zur persönlichen Beratung</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
