<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Willkommen bei den Hygiene-Checkern, Ihrem Desinfektoren-Team zur gemeinsamen Bekämpfung von Covid19.</h2>
        <h3>Wir helfen Ihnen in ihrer schwersten Zeit weiter.</h3>
      </header>
      <ul class="actions">
        <li><a href="beratung.html" class="button big">Zur persönlichen Beratung</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/gruppe.jpg" alt="Gruppe" />
    </span>
  </section>
