<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Willkommen bei den Hygiene-Checkern<br />
        das Desinfektoren-Team, das gemeinsam C19 den Gar aus machen.</h1>
        <p>Wir helfen Ihnen in ihrer schwersten Zeit weiter.</p>
        <p>Gemeinsam bieten wir Covid19 die Stirn!</p>
      </header>
      <p>g</p>
      <ul class="actions">
        <li><a href="beratung.html" class="button big">Zur persönlichen Beratung</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
