<!-- Formular -->
<section>
  <header><h3>Unser Kontaktformular:</h3></header>
	<div class="inner">
      <form action="https://formsubmit.co/f3591988a539271da7bc18c84ee9e2b6" method="POST">
        <div class="container">
          <label for="name">Name:</label>
          <input type="text" name="Name" id="name" maxlength="50">
          <label for="tel">Telefon:</label>
          <input type="tel" name="Tel" id="tel" maxlength="50">
          <label for="email">E-Mail: *</label>
          <input type="email" name="Email" id="email" maxlength="50" required>
          <label for="nachricht">Nachricht: *</label>
          <textarea name="nachricht" id="nachricht" rows="5" required></textarea><br>
        </div>
        <input type="checkbox" id="datenschutz" name="subscribe" value="einverst&auml;ndnis" required>
        <label for="datenschutz">Ich habe die <a href="datenschutz.html" target="_blank">Datenschutzerklärung</a> gelesen *.</label>
        <p><br>Mit dem Absenden des Kontaktformulars erklären Sie sich damit einverstanden, dass Ihre persönlichen Daten zur Bearbeitung Ihres Anliegens verwendet werden 
        (weitere Informationen und Widerrufshinweise finden Sie in der <a href="datenschutz.html" target="_blank">Datenschutzerklärung</a>).<br>
        <br>Alle mit einem "*" markierten Felder müssen ausgefüllt werden, um die Anfrage abschicken zu können.
        </p>
        <button type="submit">Anfrage abschicken</button>
        <!-- Versteckte Elemente -->
        <input type="hidden" name="_subject" value="Kontaktformular Hygiene-Check.Net">
        <input type="text" id="_honey" name="_honey" style="display:none">
        <label for="_honey" style="visibility:hidden">Honey</label>
        <input type="hidden" name="_next" value="{{site.url}}{{site.baseurl}}/{{page.link}}">
        <input type="hidden" name="_autoresponse" value="Vielen Dank f&uuml;r Ihre Nachricht! Das Hygiene-Check.Net Team meldet sich in k&uuml;rze bei Ihnen.">

      </form>
    </div>
</section>