<!-- Scripts -->
<!-- <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/j>query/3.5.1/jquery.min.js"></script> 
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>

<script type="text/javascript">
    function showimage()
    {
        $("body").css("background-image","url('images/test.png')"); // Onclick of button the background image of body will be test here. Give the image path in url
        $('#clickbutton').hide(); //This will hide the button specified in html
    }
    </script>
    