<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>
      -->
      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h1>Leistungen</h1>
          </header>
          <ul>
            <!-- <li><a href="index.html">Homepage</a></li> -->
            <li><b><a href="beratung.html">Beratung nach InfG</a></b></li>
            <li>
              <span class="opener">Schulungen</span>
              <ul>
                <li><a href="schulung.html">KiTa,Kindergarten </a></li>
                <li><a href="schulung.html">Schule</a></li>
                <!-- <li><a href="schulung_altenpflege">Altenpflege</a></li>
                <li><a href="schulung_behinderte">Behinderteneinrichtungen</a></li>
                <li><a href="schulung_ambulant">Ambulante Pflege</a></li> -->
              </ul>
            </li>
            <li><b><a href="gefahrenanalyse.html">Gefahrenanalyse</a></b></li>
            <li><b><a href="plan.html">Hygiene- /Desinfektionspläne</a></b></li>
            <li><b><a href="schlussdesinfektion.html">Schlussdesinfektion bei Infektionsgeschehen</a></b></li>
          </ul>
        </nav>

      <!-- Section 
        <section>
          <header class="major">
            <h2>Aktuelles</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Schäden von Desinfektionsmitteln bei Kindern</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>
      -->
      <!-- Section -->
        <section>
          <header class="major">
            <a href="kontakt.html"><h2>Kontakt</h2></a>
          </header>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
              {{ site.zip_code }}, {{ site.city }}<br />
            {{ site.country }}</li>
          </ul>
        </section>
    </div>
  </div>
